Выбери действие:
Виды заявок:
Долгосрочные действия:
* Укрепление — повышение контроля в районе.
* Атака — захват влияния, подрыв позиций врага. (ОК атакающих вычитается и ОК защиты района)
* Защита — укрепление своих позиций, отражение атак.

Результаты:
* Полный успех: +10 ОК (Очков Контроля к заявке).
* Частичный успех: +5 ОК.
* Провал: 0 ОК или штраф -5 ОК.


* Разведка — сбор информации: узнать положение другого игрока, установить наблюдение на 1 любой район, заказать у информаторов информацию о игре.
* Коммуникация — вброс новостей, влияющих на общественное мнение (влияние на политиков, вброс новостей), активация действия лояльным политиком.

 Действия с заявками
Можно выбрать действие - Кооперативное. 
Это означает что вы или иной игрок заявил Заявку основного действия с типом кооперативное, у этой заявки появляется ID. 
Чтобы присоединится нужно указать ID и перечислить ресурсы. Если их не указать, то заявка не будет считаться как присоединившийся. 

К каждой заявке обязательно перечислить ресурсы, иначе она не пройдет.